<h1>Listing Consultant Categories</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consultant_categories.each do |consultant_category| %>
      <tr>
        <td><%= consultant_category.name %></td>
        <td><%= link_to 'Show', consultant_category %></td>
        <td><%= link_to 'Edit', edit_consultant_category_path(consultant_category) %></td>
        <td><%= link_to 'Destroy', consultant_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Consultant category', new_consultant_category_path %>
