<p id="notice"><%= notice %></p>

<h1>Listing Visual Acuities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visual_acuities.each do |visual_acuity| %>
      <tr>
        <td><%= visual_acuity.name %></td>
        <td><%= link_to 'Show', visual_acuity %></td>
        <td><%= link_to 'Edit', edit_visual_acuity_path(visual_acuity) %></td>
        <td><%= link_to 'Destroy', visual_acuity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visual acuity', new_visual_acuity_path %>
