<h1>Listing Optometrists</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @optometrists.each do |optometrist| %>
      <tr>
        <td><%= optometrist.name %></td>
        <td><%= link_to 'Show', optometrist %></td>
        <td><%= link_to 'Edit', edit_optometrist_path(optometrist) %></td>
        <td><%= link_to 'Destroy', optometrist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Optometrist', new_optometrist_path %>
