<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @ophthalmologist_record.patient %>
</p>

<p>
  <strong>Consultant:</strong>
  <%= @ophthalmologist_record.consultant %>
</p>

<p>
  <strong>Prediagnosis:</strong>
  <%= @ophthalmologist_record.prediagnosis %>
</p>

<p>
  <strong>Re:</strong>
  <%= @ophthalmologist_record.re %>
</p>

<p>
  <strong>Le:</strong>
  <%= @ophthalmologist_record.le %>
</p>

<p>
  <strong>S re:</strong>
  <%= @ophthalmologist_record.s_re %>
</p>

<p>
  <strong>S le:</strong>
  <%= @ophthalmologist_record.s_le %>
</p>

<p>
  <strong>C re:</strong>
  <%= @ophthalmologist_record.c_re %>
</p>

<p>
  <strong>C le:</strong>
  <%= @ophthalmologist_record.c_le %>
</p>

<p>
  <strong>Refraction:</strong>
  <%= @ophthalmologist_record.refraction %>
</p>

<p>
  <strong>Complaint:</strong>
  <%= @ophthalmologist_record.complaint %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @ophthalmologist_record.duration %>
</p>

<p>
  <strong>History:</strong>
  <%= @ophthalmologist_record.history %>
</p>

<p>
  <strong>Previous problems:</strong>
  <%= @ophthalmologist_record.previous_problems %>
</p>

<p>
  <strong>General medical history:</strong>
  <%= @ophthalmologist_record.general_medical_history %>
</p>

<p>
  <strong>Medications:</strong>
  <%= @ophthalmologist_record.medications %>
</p>

<p>
  <strong>Family history:</strong>
  <%= @ophthalmologist_record.family_history %>
</p>

<p>
  <strong>Social history:</strong>
  <%= @ophthalmologist_record.social_history %>
</p>

<p>
  <strong>Bp:</strong>
  <%= @ophthalmologist_record.bp %>
</p>

<p>
  <strong>Urine:</strong>
  <%= @ophthalmologist_record.urine %>
</p>

<p>
  <strong>Diabetes:</strong>
  <%= @ophthalmologist_record.diabetes %>
</p>

<p>
  <strong>Hypertension:</strong>
  <%= @ophthalmologist_record.hypertension %>
</p>

<p>
  <strong>Cardiac:</strong>
  <%= @ophthalmologist_record.cardiac %>
</p>

<p>
  <strong>Asthma:</strong>
  <%= @ophthalmologist_record.asthma %>
</p>

<p>
  <strong>Others:</strong>
  <%= @ophthalmologist_record.others %>
</p>

<p>
  <strong>Allergy:</strong>
  <%= @ophthalmologist_record.allergy %>
</p>

<p>
  <strong>Smoking:</strong>
  <%= @ophthalmologist_record.smoking %>
</p>

<p>
  <strong>Facial re:</strong>
  <%= @ophthalmologist_record.facial_re %>
</p>

<p>
  <strong>Facial le:</strong>
  <%= @ophthalmologist_record.facial_le %>
</p>

<p>
  <strong>Pupil re:</strong>
  <%= @ophthalmologist_record.pupil_re %>
</p>

<p>
  <strong>Pupil le:</strong>
  <%= @ophthalmologist_record.pupil_le %>
</p>

<p>
  <strong>Ocular re:</strong>
  <%= @ophthalmologist_record.ocular_re %>
</p>

<p>
  <strong>Ocular le:</strong>
  <%= @ophthalmologist_record.ocular_le %>
</p>

<p>
  <strong>Investigations:</strong>
  <%= @ophthalmologist_record.investigations %>
</p>

<p>
  <strong>Diagnosis:</strong>
  <%= @ophthalmologist_record.diagnosis %>
</p>

<p>
  <strong>Treatment:</strong>
  <%= @ophthalmologist_record.treatment %>
</p>

<%= link_to 'Edit', edit_ophthalmologist_record_path(@ophthalmologist_record) %> |
<%= link_to 'Back', ophthalmologist_records_path %>
