<%= simple_form_for(@payment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :patient, label_method: :full_name %>
    <%= f.association :consultant, label_method: :name %>
    <%= f.input :amount %>
    <%= f.association :invoice, label_method: :id %>
    <%= f.association :company %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
