<p>
  <strong>Patient:</strong>
  <%= @lab_record.patient %>
</p>

<p>
  <strong>Provisional diagnosis:</strong>
  <%= @lab_record.provisional_diagnosis %>
</p>

<p>
  <strong>Clinical details:</strong>
  <%= @lab_record.clinical_details %>
</p>

<p>
  <strong>Pcv:</strong>
  <%= @lab_record.pcv %>
</p>

<p>
  <strong>Hba1c:</strong>
  <%= @lab_record.hba1c %>
</p>

<p>
  <strong>Hbsag:</strong>
  <%= @lab_record.hbsag %>
</p>

<p>
  <strong>Esr:</strong>
  <%= @lab_record.esr %>
</p>

<p>
  <strong>Fbs:</strong>
  <%= @lab_record.fbs %>
</p>

<p>
  <strong>Rbs:</strong>
  <%= @lab_record.rbs %>
</p>

<p>
  <strong>Serology:</strong>
  <%= @lab_record.serology %>
</p>

<p>
  <strong>Appearance:</strong>
  <%= @lab_record.appearance %>
</p>

<p>
  <strong>Blood:</strong>
  <%= @lab_record.blood %>
</p>

<p>
  <strong>Ph:</strong>
  <%= @lab_record.ph %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @lab_record.colour %>
</p>

<p>
  <strong>Sg:</strong>
  <%= @lab_record.sg %>
</p>

<p>
  <strong>Others:</strong>
  <%= @lab_record.others %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @lab_record.comment %>
</p>
<p>
  <strong>Patient:</strong>
  <%= @lab_record.consultant %>
</p>

<%= link_to 'Edit', edit_lab_record_path(@lab_record) %> |
<%= link_to 'Back', lab_records_path %>
