<h1>Listing Lens Types</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lens_types.each do |lens_type| %>
      <tr>
        <td><%= lens_type.name %></td>
        <td><%= link_to 'Show', lens_type %></td>
        <td><%= link_to 'Edit', edit_lens_type_path(lens_type) %></td>
        <td><%= link_to 'Destroy', lens_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lens type', new_lens_type_path %>
