<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @mirror_pharmacy_stock.amount %>
</p>

<p>
  <strong>Pharmacy stock:</strong>
  <%= @mirror_pharmacy_stock.pharmacy_stock %>
</p>

<%= link_to 'Edit', edit_mirror_pharmacy_stock_path(@mirror_pharmacy_stock) %> |
<%= link_to 'Back', mirror_pharmacy_stocks_path %>
